.html {
  display: grid;
  min-height: 100%;
}

.body {
  background: $light;
  font-family: $font, sans-serif;
  text-transform: uppercase;
}

.container {
  margin: auto;
  width: 800px;
  height: 800px;
  box-shadow: 5px 5px 15px rgba(#ba7e7e, .5);
  border-radius: 10px;
}

.card {
  margin: auto;
  width: 590px;
  height: auto;
  background: #fcfef6;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 16px;
}

.center{
    margin: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}

nav {
	margin: auto;
	position: relative;
	width: auto;
	height: 50px;
	border-radius: 8px;
	font-size: 0;
}
nav a {
    margin: 12px;
	height: 100%;
	font-size: 21px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: #604c04;
	cursor: pointer;
}
